alembic==1.19.1
blinker==1.9.0
click==8.4.2
Flask==3.1.3
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-Moment==1.0.6
Flask-SQLAlchemy==3.1.1
func_timeout==4.3.5
greenlet==3.5.5
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.4.1
MarkupSafe==3.0.3
mpmath==1.3.0
packaging==26.3
PyMySQL==1.2.0
pyparsing==3.3.2
python-dotenv==1.2.3
SQLAlchemy==2.0.52
sympy==1.14.0
typing_extensions==4.16.0
Werkzeug==3.1.8
