{% extends "base.html" %}

{% block title %}帮助 - DeriveSci{% endblock %}

{% block navbar_title %}帮助 — {{ help_info.title }}{% endblock %}

{% block static_files %}
<script src="https://fastly.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/languages/latex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/bnf.min.js"></script>
<script src="https://fastly.jsdelivr.net/npm/markdown-it-anchor@9.2.0/dist/markdownItAnchor.umd.min.js"></script>
<script src="https://fastly.jsdelivr.net/npm/markdown-it-toc-done-right@4.2.0/dist/markdownItTocDoneRight.umd.min.js"></script>
<script src="{{ url_for('static', filename='js/md-render.js') }}"></script>
{% endblock %}

{% block sidebar %}
<aside><h3 id="navTitle">目录</h3><div class="sidebar-content-container" id="tocBlock"></article></aside>
{% endblock %}

{% block body %}
<div class="main-area">
    <article class="content-container no-image-invert">
        <div class="markdown-body" id="contentContainer">
            <textarea id="helpContentTextArea">[toc]
{% include help_info.file -%}
            </textarea>
        </div>
    </article>
</div>
<script>
    {
        const contentContainer = document.getElementById('contentContainer');
        renderElements([contentContainer]);
        const tocNavElement = contentContainer.querySelector('nav.table-of-contents');
        const tocBlock = document.getElementById('tocBlock');
        const navTitle = document.getElementById('navTitle');
        if (tocNavElement) tocBlock.appendChild(tocNavElement);
        else navTitle.style.display = 'none';
        contentContainer.querySelector('h1').style.display = 'none';
    }
</script>
{% endblock %}
