{% extends "base.html" %}

{% block load_markdown %}{% endblock %}

{% block title %}题目标签 - DeriveSci{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/problist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid-container.css') }}">
{% endblock %}

{% block navbar_title %}题目标签{% endblock %}

{% block sidebar %}
<aside><h3>题目标签</h3></aside>
{% endblock %}

{% block body %}
<div class="main-area">
    <article>
        <h3>所有标签</h3>
        <div class="grid-container">
            {%- for tag in tags -%}
                <div class="grid-item" data-url="{{ tag.url() }}"{{-''-}}
                    onclick="window.open(this.dataset.url);">
                    {{- tag.tagtitle -}}
                </div>
            {%- endfor -%}
        </div>
    </article>
</div>
{% endblock %}
