{% extends "base.html" %}
{% from "includes/users.html" import user_gender %}
{% from "includes/tables.html" import problist, solutionlist, articlelist %}

{%- macro user_name(user) -%}
    {% if current_user == user %}我{% else %}{{ user.name }}{% endif %}
{%- endmacro -%}

{% block title %}{{ user_name(user) }}的主页 - DeriveSci{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/problist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid-container.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/formstyle.css') }}">
<script src="{{ url_for('static', filename='js/user-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/md-render.js') }}"></script>
<style>
    .grid-container.probno-container { font-family: var(--mono-font); }
    @media (max-width: 768px) {
        div.central-area { order: 2; }
        div.side-area { order: 1; }
    }
</style>
{% endblock %}

{% block navbar_title %}
{{- user_avatar_img(user) -}}{{- user_gender(user) -}}
{%- if user.isadmin -%}<i class="admin fas fa-user-tie"></i>{%- endif -%}
{{- user_name(user) }}的主页
{% endblock %}

{% block sidebar %}
<aside>
    <h3>欢迎来到 DeriveSci</h3>
    {%- if current_user == user -%}
        <a class="sidebar-link" href="{{ url_for('probs.upload_prob') }}">
            <div class="sidebar-item">
                <i class="fas fa-cloud-arrow-up"></i>上传题目
            </div>
        </a>
        <a class="sidebar-link" href="{{ url_for('articles.upload_article') }}">
            <div class="sidebar-item">
                <i class="fas fa-file-pen"></i>撰写专栏
            </div>
        </a>
        <a class="sidebar-link" target="_blank" href="{{ url_for('auth.edit_profile') }}">
            <div class="sidebar-item">
                <i class="fas fa-user-pen"></i>修改信息
            </div>
        </a>
        <a class="sidebar-link" href="javascript:void(0)"
            onclick="userLogout(); return false;">
            <div class="sidebar-item">
                <i class="fas fa-right-from-bracket"></i>退出登录
            </div>
        </a>
        <a class="sidebar-link" href="javascript:void(0)"
            onclick="userUnregister(); return false;">
            <div class="sidebar-item">
                <i class="fas fa-person-circle-minus"></i>注销账户
            </div>
        </a>
    {%- else -%}
        <a class="sidebar-link" href="{{ url_for('social.chat', activeuid=user.uid) }}">
            <div class="sidebar-item">
                <i class="fas fa-comments"></i>私信聊天
            </div>
        </a>
    {%- endif -%}
</aside>
{% endblock %}

{% block body %}
<div class="central-area height-fixed-area">
    <h3>{{ user_name(user) }}的贡献</h3>
    <h4>{{ user_name(user) }}通过的题目</h4>
    <article>
        {%- set passedprobs = user.get_passedprobs() -%}
        {%- if passedprobs -%}
            <div class="grid-container probno-container">
                {%- for prob in passedprobs -%}
                    <div class="grid-item" data-url="{{ prob.url() }}"{{-''-}}
                        onclick="window.open(this.dataset.url);">
                        {{- prob.probno -}}
                    </div>
                {%- endfor -%}
            </div>
        {%- else -%}<p>暂无</p>{%- endif -%}
    </article>
    <h4>{{ user_name(user) }}上传的题目</h4>
    <article>
        {%- set uploadedprobs = user.uploadedprobs.copy() -%}
        {%- if uploadedprobs -%}
            {%- do uploadedprobs.sort() -%}
            {{- problist(uploadedprobs, with_source=False, with_review_status=True) -}}
        {%- else -%}<p>暂无</p>{%- endif -%}
    </article>
</div>
<div class="side-area height-fixed-area">
    <h3 id="userIntroductionTitle">{{ user_name(user) }}的简介</h3>
    <article>
        <div id="userIntroductionContainer">
            <form class="form-base no-edge hidden" id="introductionEditForm">
                <span>
                    <textarea id="introductionTextarea" name="introduction"
                        class="submit-input" spellcheck="false"
                        placeholder="简要介绍你自己，以 Markdown 格式">
                        {{- user.introduction or '' -}}
                    </textarea>
                </span>
            </form>
            <div id="userIntroductionDisplay" class="markdown-body">
                <textarea id="userIntroductionContent">{{ user.introduction }}</textarea>
            </div>
        </div>
    </article>
    <h3>{{ user_name(user) }}的文章</h3>
    <h4>{{ user_name(user) }}的专栏</h4>
    <article>
        {%- set articles = user.articles.copy() -%}
        {%- if articles -%}
            {%- do articles.sort() -%}
            {{- articlelist(articles, with_head=True, with_user=False) -}}
        {%- else -%}<p>暂无</p>{%- endif -%}
    </article>
    <h4>{{ user_name(user) }}上传的题解</h4>
    <article>
        {%- set solutions = user.solutions.copy() -%}
        {%- if solutions -%}
            {%- do solutions.sort() -%}
            {{- solutionlist(
                solutions, with_head=True,
                with_probno=True, with_user=False) -}}
        {%- else -%}<p>暂无</p>{%- endif -%}
    </article>
</div>
{%- if user == current_user -%}
    <script>
        let originalIntroduction
            = {{ (user.introduction or '')|tojson }};
        toggleUserIntroductionEdit(originalIntroduction);
    </script>
{%- endif -%}
{%- if user.introduction -%}
    <script>
        renderElements([document.getElementById(
            'userIntroductionDisplay')]);
    </script>
{%- elif user != current_user -%}
    <script>
        document.getElementById('userIntroductionContainer').classList.add('hidden');
        document.getElementById('userIntroductionTitle').classList.add('hidden');
    </script>
{%- else -%}
    <script>
        document.getElementById('userIntroductionDisplay').classList.add('hidden');
        document.getElementById('introductionEditForm').classList.remove('hidden');
    </script>
{%- endif -%}
{% endblock %}
